name: GitHub Activity

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:
  push:

jobs:
  update-activity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: readme-activity-markdown/action@main
        with:
          MAX_LINES: 10

      - name: Commit e push
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Atualização automática de atividades" || echo "Nada para atualizar"
          git push
