name: Generate Tech Stack

on:
  schedule:
    - cron: "0 */6 * * *" 
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate tech stack SVG
        uses: jaywcjlove/github-action-readme-tech-stack@main
        with:
          OUTPUT: tech.svg

      - name: Commit and push
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
          git add tech.svg
          git commit -m "Atualização automática das tecnologias" || echo "Nada para atualizar"
          git push
